body {
    position: relative;
    font-size: 16px;
}

.header {
    height: 25vh;
    min-height: 200px;
}

.header * {
    height: 100%;
}

.header .gallery {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.header .gallery ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-filter: sepia(1);
    filter: sepia(1);
}

.navbar {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    margin-bottom: 0;
}

@media (max-width: 992px) {
    .navbar .container {
        min-width: 100%;
    }
}

.navbar .container .navbar-brand:last-child {
    margin-left: -15px;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.affix ~ .header {
    position: relative;
    top: 50px;
}

.navbar-brand-icon {
    padding-top: 0;
}

.brand-icon {
    width: 140px;
    margin-top: -40%;
    margin-bottom: -60%;
    position: relative;
    display: block;
    z-index: 100;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

.affix .brand-icon {
    width: 70px;
    margin-top: 0;
    margin-bottom: 0;
}

.brand-title {
}

.navbar-collapse.collapsing .navbar-nav,
.navbar-collapse.in .navbar-nav {
    float: right !important;
    display: block;
    padding-left: 120px;
    margin-right: -15px;

    -webkit-transition: padding-left 400ms;
    -moz-transition: padding-left 400ms;
    -o-transition: padding-left 400ms;
    transition: padding-left 400ms;
}

.affix .navbar-collapse.collapsing .navbar-nav,
.affix .navbar-collapse.in .navbar-nav {
    padding-left: 60px;
}

.navbar-collapse.collapsing .navbar-nav:not(.navbar-right),
.navbar-collapse.in .navbar-nav:not(.navbar-right) {
    margin-bottom: 0;
}

.navbar-collapse.collapsing .navbar-nav.navbar-right,
.navbar-collapse.in .navbar-nav.navbar-right {
    margin-top: 0;
}

.navbar-collapse.collapsing .navbar-nav.navbar-right li,
.navbar-collapse.in .navbar-nav.navbar-right li {
    float: right;
}

@media screen and (max-width: 500px) {
    .navbar-collapse.collapsing .navbar-nav,
    .navbar-collapse.in .navbar-nav {
        float: left !important;
    }

    .navbar-collapse.collapsing .navbar-nav li,
    .navbar-collapse.in .navbar-nav li {
        width: 100%;
    }

    .navbar-collapse.collapsing .navbar-nav.navbar-right li,
    .navbar-collapse.in .navbar-nav.navbar-right li {
        float: none;
    }
}

.navbar li {
    display: block;
    float: left;
}

section {
    width: 100%;
    min-height: 100vh;
    font-size: larger;
    padding-bottom: 60px;
}

section.section-first {
    padding-top: 50px;
}

section.section-next {
    padding-top: 80px;
}

a,
a:active,
a:focus,
a:hover {
    outline: none;
}

h1:first-child {
    margin-top: 0;
}