.about-section {
    background: #ffdca6;
}

.trainer-section {
    background: #f3b88c;
}

.contacts-section {
    background: #ffdca6;
}

.about-section .jumbotron {
    background: #adb622;
    color: #dee677;
    border-radius: 16px;
    padding: 16px 48px;
}

.adv-heading {
    font-size: 60%;
    display: block;
    margin-bottom: 1em;
}

.trainer-photo {
    float: right;
    display: block;
    padding: 0 16px;
}

.contacts-section .location-details {
    padding-top: 0.8em;
}
.contacts-section iframe {
    border: solid gray 1px;
}

.about-section p,
.trainer-section p {
    text-align: justify;
}

.widget-vk,
.widget-vk iframe {
    width: 100% !important;
}