@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap");
body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: #FFFFFF;
  box-sizing: border-box;
  background: #201C20;
  font-family: "Exo 2", sans-serif;
  letter-spacing: 0.1em;
}

.fa {
  letter-spacing: normal;
  line-height: 1;
}

h2 {
  line-height: 1.2;
  font-size: 280%;
  margin: 0 0 0.4em;
  position: relative;
  color: #F1C909;
}

p {
  line-height: 1.6;
  margin: 0 0 2.6em;
}

em {
  font-style: normal;
  color: #F1C909;
}

a,
a:focus,
a:active {
  color: #FFFFFF;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease, background-color 0.15s ease;
}

a:hover {
  color: #F1C909;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1240px) {
  .container {
    margin: 0 20px;
  }
}

.btn {
  text-transform: uppercase;
  background: #FFFFFF;
  border: #FFFFFF 2px solid;
  border-radius: 4em;
  line-height: 1;
  padding: 1em 2em;
  color: #201C20;
  font-weight: 700;
}
.btn:hover {
  background: transparent;
  color: #FFFFFF;
}
.btn.primary {
  background-color: #F1C909;
  border-color: #F1C909;
}
.btn.primary:hover {
  background-color: transparent;
  color: #F1C909;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}
header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
header ul li {
  margin: 0;
  padding: 0;
}
header ul li a {
  position: relative;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
}
header nav {
  display: flex;
  padding-top: 10px;
}
header nav .navbar-header {
  margin-right: auto;
}
header nav .navbar-collapse {
  margin-top: 14px;
}
header nav .navbar-collapse li a {
  margin: 0 1vw;
  padding: 10px 6px;
}
header nav .navbar-collapse li a:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 10px;
  border-radius: 20% 80% 0 0;
  border-top: 2px transparent solid;
  transition: transform 0.3s ease;
  transform: scale(0);
  transform-origin: left top;
}
header nav .navbar-collapse li a:hover:after {
  border-color: #F1C909;
  transform: none;
}
header nav .navbar-right {
  margin-top: 12px;
  margin-left: 1vw;
}
header nav .navbar-right li a {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  padding: 0;
  line-height: 42px;
  width: 42px;
  text-align: center;
  margin: 0 6px;
}
header nav .navbar-right li a:hover {
  border-color: #F1C909;
}

section.top-hero {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
section.top-hero ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
section.top-hero ul li {
  margin: 0;
  padding: 0;
}
section.top-hero ul,
section.top-hero ul li,
section.top-hero ul li img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section.top-hero ul li {
  transition: transform 2s ease-in-out;
}
section.top-hero ul li.prev {
  z-index: 2;
  transform: translateX(-100%);
}
section.top-hero ul li.next {
  z-index: 1;
  transform: translateX(100%);
}
section.top-hero ul li.active {
  z-index: 3;
  transform: none;
}
section.top-hero ul img {
  object-fit: cover;
  object-position: center;
}
section.top-hero ul:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 100%);
  z-index: 3;
}
section.top-hero .title {
  padding: 2em 4em 1em;
  border-radius: 0 40% 60% 0;
  border-right: 4px #F1C909 solid;
  position: relative;
  z-index: 5;
}

/*# sourceMappingURL=index.css.map */
