header {

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    li {
      margin: 0;

      a {
        position: relative;
        display: inline-block;
        line-height: 1;
        white-space: nowrap;
      }
    }
  }

  nav {
    display: flex;
    padding-top: 16px;

    .navbar-header {
      margin-right: auto;
    }

    .navbar-collapse {
      li a {
        margin: 4px 1vw 0;
        padding: 10px;

        &:after {
          content: '';
          @include absolute-position(100%, 0, 100%, 10px);
          border-radius: 20% 80% 0 0;
          border-top: 2px transparent solid;
          transition: transform 0.3s ease;
          transform: scale(0);
          transform-origin: left top;
        }

        &:hover:after {
          border-color: $color-brand;
          transform: none;
        }
      }
    }

    .navbar-right {
      margin-left: 1vw;

      li a {
        border: 2px solid $color-white;
        border-radius: 50%;
        padding: 0;
        line-height: 42px;
        width: 42px;
        text-align: center;
        margin: 0 6px;

        &:hover {
          border-color: $color-brand;
        }
      }
    }
  }
}