@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

html, body {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: $color-white;
  background: $color-black;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 0.1em;
}

.fa {
  letter-spacing: normal;
  line-height: 1;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5 {
  line-height: 1.2;
  margin: 0 0 0.4em;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 42px;
}

h4 {
  font-size: 34px;
}

h5 {
  font-size: 24px;
}

p {
  line-height: 1.6;
  margin: 0 0 1.6em;

  &:last-child {
    margin: 0;
  }
}

em {
  font-style: normal;
  color: $color-brand;
}

a,
a:focus,
a:active {
  color: $color-white;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease, background-color 0.15s ease;
}

a:hover {
  color: $color-brand;
  text-decoration: none;
}