@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@800&display=swap');

html, body {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 18px;
  color: $color-white;
  background: $color-black;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 0.04em;
}

.fa {
  letter-spacing: normal;
  line-height: 1;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5 {
  line-height: 1.2;
  margin: 0 0 0.4em;
  font-family: 'Alegreya Sans SC', sans-serif;
  letter-spacing: 0.01em;
}

@each $h, $s in (h1:50, h2:50, h3:42, h4:34, h5:24) {
  #{$h} {
    font-size: #{$s}px;
  }
}

@include mobile() {
  @each $h, $s in (h1:40, h2:40, h3:32, h4:28, h5:24) {
    #{$h} {
      font-size: #{$s}px;
    }
  }
}

p {
  line-height: 1.6;
  margin: 0 0 1.6em;

  &:last-child {
    margin: 0;
  }
}

em {
  font-style: normal;
  color: $color-brand;
}

a,
a:focus,
a:active {
  color: $color-white;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease, background-color 0.15s ease;
}

a:hover {
  color: $color-brand;
  text-decoration: none;
}

button,
button:hover,
button:focus,
button:active {
  background: none;
  border: none;
  border-radius: 0;
}