section.coach {
  background: linear-gradient(to right, rgba($color-white, 80%) 0%, rgba($color-white, 80%) 100%), url("../img/coach-bg.jpg") center no-repeat;
  background-size: cover;
  color: $color-black;

  .card {
    @include card(40px 0 0 40px, top, left);
    @include shadow();
    padding: 0;
    height: 100%;
    max-width: 300px;

    h2 {
      color: $color-accent;
      text-align: right;
      padding: 20px 40px 0;
    }

    img {
      display: block;
    }
  }

  @include mobile() {
    font-size: 16px;

    .col-auto {
      flex: 1 0 100%;
      text-align: center;
    }

    .col-fill {
      margin: 0 10px;
    }

    .card {
      display: inline-block;
      height: auto;
      padding: 0;
      margin: 0 auto 40px;

      h2 {
        text-align: center;
      }
    }
  }
}