header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  background: $color-accent2;
  transition: background-color 0.2s ease;
  @include shadow(0.2);

  &.scrolled {
    nav {
      height: 80px;
      padding: 4px 0;

      a.navbar-brand img {
        width: 100px;
      }
    }
  }

  ul {
    @include no-list();
    display: flex;

    li a {
      position: relative;
      display: inline-block;
      line-height: 1;
      white-space: nowrap;
    }
  }

  nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100px;
    padding: 10px 0;
    transition: padding 0.2s ease, height 0.2s ease;

    a.navbar-brand {
      display: block;
      align-self: flex-start;
      margin-right: auto;
      line-height: 0;
      position: relative;
      z-index: 2;

      img {
        width: 150px;
        transition: width 0.4s ease;
        transform-origin: top left;
      }
    }

    .navbar-collapse {
      li a {
        margin: 0 1vw;
        padding: 10px 6px;

        &:after {
          content: '';
          @include absolute-position(100%, 0, 100%, 10px);
          border-radius: 20% 80% 0 0;
          border-top: 2px transparent solid;
          transition: transform 0.3s ease;
          transform: scale(0);
          transform-origin: left top;
        }

        &:hover:after {
          border-color: $color-brand;
          transform: none;
        }
      }

      @include mobile() {
        flex-flow: column nowrap;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 0;
        background: $color-accent2;
        padding: 0 20px;
        overflow: hidden;
        text-align: right;
        transition: height 0.4s ease;

        &:before {
          content: '';
          display: block;
          width: 100%;
          height: 80px;
          flex: 0 0 auto;
        }

        &.open {
          height: 340px;
        }

        li {
          margin: 0 0 10px 0;

          a {
            padding: 12px 5px 6px;
          }
        }
      }
    }

    .navbar-right {
      margin-left: 1vw;
    }

    .navbar-toggle {
      color: $color-white;
      line-height: 0;
      margin-left: 1vw;
      padding: 0 10px;
      height: 100%;
      display: none;
      position: relative;

      i {
        display: block;
        width: 26px;
        height: 2px;
        border-radius: 1px;
        background: $color-white;
        margin-bottom: 6px;
        transition: transform 0.2s ease, opacity 0.2s ease;
        transform-origin: center;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &.open {
        i:first-child {
          transform: translateY(8px) rotate(45deg);
        }

        i:last-child {
          transform: translateY(-8px) rotate(-45deg);
        }

        i:nth-child(2) {
          opacity: 0;
        }
      }

      @include mobile() {
        display: block;
      }
    }
  }

  @include mobile() {
    nav,
    &.scrolled nav {
      height: 80px;
      max-width: 100vw;
      padding: 4px 0;

      a.navbar-brand img {
        width: 100px;
      }
    }
  }
}