section.info {
  background: $color-white;
  color: $color-black;

  .col4 {
    padding-bottom: 40px;
  }

  .card {
    height: 100%;
    @include card(0 40px 40px 0, top, right);
    @include shadow();

    h5 {
      color: $color-accent;
    }
  }

  @include mobile() {
    font-size: 16px;
  }
}