section.news {
  background-color: $color-gray;

  &:before {
    content: '';
    @include absolute-position(0, 0, 100%, 100%);
    background: url("../img/logo-silhouette-white.png") no-repeat bottom 8% left 2%;
    opacity: 0.2;
  }

  > div {
    position: relative;
  }

  .widget-vk iframe {
    @include card(40px 0 0 40px, left);
    border-color: $color-accent;
    @include shadow();
  }
}