@use "sass:color";

section.news {
  background-color: lighten($color-accent3, 60%);

  .container {
    max-width: 840px;
  }

  &:before {
    content: '';
    @include absolute-position(0, 0, 100%, 100%);
    background: url("../img/people-white.svg") no-repeat bottom 4% right;
    background-size: 30% auto;
    opacity: 0.6;
    transform: scaleX(-1);
  }

  > div {
    position: relative;
  }

  .widget-vk iframe {
    @include card(40px 0 0 40px, left);
    border-color: $color-accent;
    @include shadow();
  }

  @include mobile() {
    padding-bottom: 70vw;
    &:before {
      background-size: 96% auto;
    }
  }
}