section.vk-members {
  background: $color-brand-pale;

  .row {
    align-items: center;
  }

  h2 {
    color: $color-accent;
    text-align: right;
    position: relative;
  }

  .widget-vk {
    position: relative;
    max-width: 400px;
  }

  &:before {
    content: '';
    @include absolute-position(-10%, 2%, 90%, 95%);
    background: url("../img/logo-silhouette-yellow.png") no-repeat left top;
    background-size: contain;
  }
}